@model LoginDtos
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SignalR Restoran Giriş formu</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-32/css/nunito-font.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/colorlib-regform-32/css/style.css" />
</head>
<body class="form-v6">
    <div class="page-content">
        <div class="form-v6-content">
            <div class="form-left">
                <img src="~/colorlib-regform-32/images/Sauce1.jpg" width="484" height="584" alt="form">
            </div>
            <form class="form-detail" asp-controller="Login" asp-action="Index" method="post" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]">
                <h2>Giriş Formu</h2>
                <div class="form-row">
                    <input type="text" asp-for="Email" class="input-text" placeholder="Mail Adresiniz">
                </div>
                <div class="form-row">
                    <input type="password" asp-for="Password" class="input-text" placeholder="Şifre">
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="IsRememberMe" checked>
                    @*<label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>*@
                </div>
                <div class="form-row-last">
                    <input type="submit" class="register" value="Giriş Yap">
                </div>
            </form>
        </div>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>