
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/jquery.3.2.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(() => {

        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7224/SignalRHub").build();

        connection.start().then(() => {

            setInterval(() => {

                connection.invoke("SendMoneyCases");
                connection.invoke("SendMenuTables");
                connection.invoke("SendOrder");
                connection.invoke("SendProduct");
                connection.invoke("SendCategory");

            }, 1000);

        }).catch((err) => {

            console.log(err)
        });


        connection.on("ReceiveMoneyCaseTotalAmaount", (value) => {

            $("#moneyCaseTotalAmaount").text(value);
        });
        connection.on("ReceiveMenuTableCount", (value) => {

            $("#menuTableCount").text(value);
        });
        connection.on("ReceiveActiveOrderCount", (value) => {

            $("#activeOrderCount").text(value);
        });

        connection.on("ReceiveMenuTableCount", (value) => {
            $("#totalMenuTableCountProgress").empty();
            $("#totalMenuTableCountProgress").append(`
                    <div class="d-flex justify-content-between mb-1">
                        <span class="text-muted">Masa Sayısı</span>
                        <span class="text-muted fw-bold"> ${value}</span>
                    </div>
                    <div class="progress mb-2" style="height: 7px;">
                    <div class="progress-bar bg-info" role="progressbar" style="width: ${value}%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value}%"></div>
                    </div>`);
        });

        connection.on("ReceiveProductPriceAvg", (values) => {
            $("#productTotalPriveAvgProgress").empty();
            $("#productTotalPriveAvgProgress").append(`
                        <div class="d-flex justify-content-between mb-1">
                        <span class="text-muted">Ortalama Ürün Fiyatı</span>
                        <span class="text-muted fw-bold"> ${values}</span>
                        </div>
                        <div class="progress mb-2" style="height: 7px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: ${values}%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${values}%"></div>
                        </div>`);

        });

        connection.on("ReceiveHamburgerProductCount", (value) => {
            $("#hamburgerProductCount").empty();
            $("#hamburgerProductCount").append(`
                     <div class="d-flex justify-content-between mb-1">
                    <span class="text-muted">Mevcut Hamburger Sayısı</span>
                     <span class="text-muted fw-bold"> ${value}</span>
                    </div>
                    <div class="progress mb-2" style="height: 7px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: ${value}%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value}%"></div>
                    </div>

            `);

        });

        connection.on("ReceiveDrinkProductCount", (value) => {
            $("#drinkProductCount").empty();
            $("#drinkProductCount").append(`
                     <div class="d-flex justify-content-between mb-1">
                    <span class="text-muted">Mevcut İçecek Sayısı</span>
                     <span class="text-muted fw-bold"> ${value}</span>
                    </div>
                    <div class="progress mb-2" style="height: 7px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: ${value}%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value}%"></div>
                    </div>

            `);

        });

        connection.on("ReceiveTotalOrderCount", (value) => {
            $("#totalOrderCount").empty();
            $("#totalOrderCount").append(`
                     <div class="d-flex justify-content-between mb-1">
                    <span class="text-muted">Toplam Sipariş Sayısı</span>
                     <span class="text-muted fw-bold"> ${value}</span>
                    </div>
                    <div class="progress mb-2" style="height: 7px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: ${value}%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value}%"></div>
                    </div>

            `);

        });

        connection.on("ReceiveCategoryCount", (value) => {
            $("#totalCategoryCount").empty();
            $("#totalCategoryCount").append(`
                     <div class="d-flex justify-content-between mb-1">
                     <span class="text-muted">Toplam Kategori Sayısı</span>
                    <span class="text-muted fw-bold"> ${value}</span>
                    </div>
                    <div class="progress mb-2" style="height: 7px;">
                     <div class="progress-bar bg-primary" role="progressbar" style="width: ${value}%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value}%"></div>
                     </div>

            `);

        });

        connection.on("ReceiveProductCount", (value) => {
            $("#totalProductCount").empty();
            $("#totalProductCount").append(`
                     <div class="d-flex justify-content-between mb-1">
                     <span class="text-muted">Toplam Ürün Sayısı</span>
                    <span class="text-muted fw-bold"> ${value}</span>
                    </div>
                    <div class="progress mb-2" style="height: 7px;">
                     <div class="progress-bar bg-info" role="progressbar" style="width: ${value}%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value}%"></div>
                     </div>

            `);

        });

        connection.on("ReceiveCategoryActiveCount", (value) => {
            $("#categoryActiveCount").empty();
            $("#categoryActiveCount").append(`
                     <div class="d-flex justify-content-between mb-1">
                     <span class="text-muted">Aktif Kategori Sayısı</span>
                    <span class="text-muted fw-bold"> ${value}</span>
                    </div>
                    <div class="progress mb-2" style="height: 7px;">
                     <div class="progress-bar bg-success" role="progressbar" style="width: ${value}%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value}%"></div>
                     </div>

            `);

        });

        connection.on("ReceiveCategoryPassiveCount", (value) => {
            $("#categoryPassiveCount").empty();
            $("#categoryPassiveCount").append(`
             <div class="d-flex justify-content-between mb-1">
             <span class="text-muted">Pasif Kategori Sayısı</span>
            <span class="text-muted fw-bold"> ${value}</span>
            </div>
            <div class="progress mb-2" style="height: 7px;">
             <div class="progress-bar bg-danger" role="progressbar" style="width: ${value}%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value}%"></div>
             </div>

    `);

        });
    });

</script>
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Admin İstatistikler & Durumlar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row row-card-no-pd">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="fw-bold mt-1">Toplam Kazanç</p>
                                <h4><b id="moneyCaseTotalAmaount"></b></h4>
                                <a asp-action="OrderCreate" asp-controller="Order" class="btn btn-primary btn-full text-left mt-3 mb-3"><i class="la la-plus"></i> Yeni Sipariş</a>
                            </div>
                            <div class="card-footer">
                                <ul class="nav">
                                    <li class="nav-item"><a class="btn btn-default btn-link" asp-controller="Order" asp-action="Index"><i class="la la-history"></i> Siparişler</a></li>
                                    <li class="nav-item ml-auto"><a class="btn btn-default btn-link" asp-controller="ProgressBars" asp-action="Index"><i class="la la-refresh"></i> Sayfayı Yenile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">

                                <div class="progress-card" id="totalMenuTableCountProgress">

                                </div>
                                <div class="progress-card" id="productTotalPriveAvgProgress">

                                </div>
                                <div class="progress-card" id="hamburgerProductCount">

                                </div>
                                <div class="progress-card" id="drinkProductCount">

                                </div>
                                <div class="progress-card" id="totalOrderCount">

                                </div>
                                <div class="progress-card" id="totalCategoryCount">

                                </div>
                                <div class="progress-card" id="totalProductCount">
                                    
                                </div>
                                <div class="progress-card" id="categoryActiveCount">
                                   
                                </div>
                                <div class="progress-card" id="categoryPassiveCount">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-stats">
                            <div class="card-body">
                                <p class="fw-bold mt-1">Statistic</p>
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="la la-pie-chart text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Aktif Siparişler</p>
                                            <h4 class="card-title" id="activeOrderCount"></h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-heart-o text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Masa Sayısı</p>
                                            <h4 class="card-title" id="menuTableCount"></h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-glass text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Static Rezervasyon Sayısı</p>
                                            <h4 class="card-title" id="bookingCount">256</h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-ship text-info"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Static Ürün Sayısı</p>
                                            <h4 class="card-title" id="productCount">155</h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-shopping-cart text-success"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Static Toplam Sipariş Sayısı</p>
                                            <h4 class="card-title" id="productCount">10755</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>