
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Index</h1>

<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/jquery.3.2.1.min.js"></script>



<div class="context">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <script type="text/javascript">
                    $(document).ready(() => {
                        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7224/SignalRHub").build();

                        $("#conStatus").text(connection.state);

                        connection.start().then(() => {
                            $("#conStatus").text(connection.state);

                            connection.invoke("SendCategoryCount");
                            
                        }).catch((err) => {
                            console.log(err);
                        });

                        connection.on("ReceiveCategoryCount", (value) => {

                            $("#catCount").text(value);
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-success">

            Bağlantının Durumu:<strong id="conStatus"></strong>
            Kategori Sayısı:<strong id="catCount"></strong>
        </div>

    </div>
</div>