<div class="footer_social">
    <a href="">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="">
        <i class="fa fa-pinterest" aria-hidden="true"></i>
    </a>
</div>