
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/jquery.3.2.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(() => {

        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7224/SignalRHub").build();

        connection.start().then(() => {

            setInterval(() => {

                connection.invoke("SendCategory");
                connection.invoke("SendProduct");
                connection.invoke("SendOrder");
                connection.invoke("SendMoneyCases");
                connection.invoke("SendMenuTables");
            }, 1000);
        }).catch((err) => {
            console.log(err);
        });
        connection.on("ReceiveCategoryCount", (value) => {

            $("#categoryCount").text(value);
        });
        connection.on("ReceiveCategoryActiveCount", (value) => {

            $("#activeCategory").text(value);
        });
        connection.on("ReceiveCategoryPassiveCount", (value) => {

            $("#passiveCategory").text(value);
        });
        connection.on("ReceiveProductCount", (value) => {
            $("#productCount").text(value);
        });
        connection.on("ReceiveHamburgerProductCount", (value) => {
            $("#productHamburgerCount").text(value);
        });
        connection.on("ReceiveDrinkProductCount", (value) => {
            $("#productDrinkCount").text(value);
        });
        connection.on("ReceiveProductPriceAvg", (value) => {
            $("#productPriceAvg").text(value);
        });
        connection.on("ReceiveProductPriceMin", (value) => {
            $("#productPriceMin").text(value);
        });
        connection.on("ReceiveProductPriceMax", (value) => {
            $("#productPriceMax").text(value);
        });
        connection.on("ReceiveProductPriceAvgHamburger", (value) => {
            $("#productPriceAvgHamburger").text(value);
        });
        connection.on("ReceiveTotalOrderCount", (value) => {
            $("#totalOrderCount").text(value);
        });
        connection.on("ReceiveActiveOrderCount", (value) => {
            $("#activeOrderCount").text(value);
        });
        connection.on("ReceiveLastOrderPrice", (value) => {
            $("#lastOrderPrice").text(value);
        });
        connection.on("ReceiveMoneyCaseTotalAmaount", (value) => {

            $("#moneyCaseTotalAmaount").text(value);
        });
        connection.on("ReceiveDateNowTotalPrice", (value) => {
            $("#dateNowTotalPrice").text(value);
        });
        connection.on("ReceiveMenuTableCount", (value) => {
            $("#menuTableCount").text(value);
        });
    });
</script>


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İstatistikler</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-certificate"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Kategori Sayısı</p>
                                    <h4 class="card-title" id="categoryCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Ürün Sayısı</p>
                                    <h4 class="card-title" id="productCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-newspaper-o"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Aktif Kategori</p>
                                    <h4 class="card-title" id="activeCategory"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-close"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Pasif Kategori</p>
                                    <h4 class="card-title" id="passiveCategory"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-support"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Hamburger</p>
                                    <h4 class="card-title" id="productHamburgerCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-bitbucket"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">İçecek Sayısı</p>
                                    <h4 class="card-title" id="productDrinkCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-money"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Ortalama Fiyat</p>
                                    <h4 class="card-title" id="productPriceAvg"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-star-half-o"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">En Düşük Ürün</p>
                                    <h4 class="card-title" id="productPriceMin"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-star"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">En Pahalı Ürün</p>
                                    <h4 class="card-title" id="productPriceMax"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-bar-chart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Ort.Hamburger Fiyat</p>
                                    <h4 class="card-title" id="productPriceAvgHamburger"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Toplam Sipariş</p>
                                    <h4 class="card-title" id="totalOrderCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-heart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Aktif Siparişler</p>
                                    <h4 class="card-title" id="activeOrderCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-beer"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Son Sipariş</p>
                                    <h4 class="card-title" id="lastOrderPrice"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-bank"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Kasadaki Tutar</p>
                                    <h4 class="card-title" id="moneyCaseTotalAmaount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-newspaper-o"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Bugünkü Kazanç</p>
                                    <h4 class="card-title" id="dateNowTotalPrice"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-home"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Masa Sayısı</p>
                                    <h4 class="card-title" id="menuTableCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

