@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";

}

<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/jquery.3.2.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(() => {

        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7224/SignalRHub").build();

        connection.start().then(() => {

            setInterval(() => {
                connection.invoke("GetBookingList");

            }, 1000);
        }).catch((err) => {
            console.log(err)
        });


        connection.on("ReceiveGetBookingAll", (values) => {
            console.log(values);
            let tableHtml = `<table class="table mt-3"><thead>

                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Müşteri Adı</th>
                                <th scope="col">Telefon</th>
                                <th scope="col">Mail</th>
                                <th scope="col">Kişi sayısı</th>
                                <th scope="col">Rezervasyon Durumu</th>
                                <th scope="col">Sil</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Onayla</th>
                                <th scope="col">İptal Et</th>
                                </tr>
                                </thead>
                                <tbody>`

            $.each(values, (index, item) => {
                tableHtml += `  <tr>
                                <th>${index + 1}</th>
                                <td>${item.name}</td>
                                <td>${item.phone}</td>
                                <td>${item.mail}</td>
                                <td>${item.personCount}</td>
                                <td>${item.description}</td>
                                <td><a class="btn btn-outline-danger" href="/Booking/Delete/${item.dataProtect}">Sil</a></td>
                                <td><a class="btn btn-outline-warning" href="/Booking/Update/${item.dataProtect}">Güncelle</a></td>
                                <td><a class="btn btn-outline-info" href="/Booking/BookingStatusApproved/${item.dataProtect}">Onayla</a></td>
                                <td><a class="btn btn-outline-dark" href="/Booking/BookingStatusCancelled/${item.dataProtect}">İptal</a></td>
                                </tr>`;
            });
            tableHtml += `</tbody></table>`;

            $("#bookingList").html(tableHtml);
        });
    });

</script>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Rezervasyon İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Rezervasyon Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Rezervasyon İle ilgili işlemleri aşağıdan geçerkleştirebilirsiniz.
                        </div>
                        <div class="text-end mb-2 my-2">
                            <a type="submit" asp-controller="Booking" asp-action="CreateBooking" class="btn btn-outline-info">Yeni Rezervasyon</a>
                        </div>
                        <div id="bookingList"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
