<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Yönetim Paneli
                        <span class="user-level">Administrator</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a asp-controller="Menu" asp-action="Index">
                                <span class="link-collapse">Menüyü Gör</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Register" asp-action="Index">
                                <span class="link-collapse">Yeni Kayıt</span>
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a asp-controller="Login" asp-action="LogOut">
                                    <span class="link-collapse">Çıkış Yap</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Login" asp-action="Index">
                                    <span class="link-collapse">Giriş Yap</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a asp-controller="Default" asp-action="Index" target="_blank">
                    <i class="la la-motorcycle"></i>
                    <p>Siteye Git</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="index.html">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Menu" asp-action="Index">
                    <i class="la la-music"></i>
                    <p>Menüyü Gör</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Category" asp-action="Index">
                    <i class="la la-keyboard-o"></i>
                    <p>Kategoriler</p>
                </a>
            </li>
            <li class="nav-item active">
                <a asp-controller="Product" asp-action="Index">
                    <i class="la la-birthday-cake"></i>
                    <p>Ürünler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Booking">
                    <i class="la la-bell"></i>
                    <p>Rezervasyonlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="About">
                    <i class="la la-font"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Contact">
                    <i class="la la-phone-square"></i>
                    <p>İletişim</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Discount" asp-action="Index">
                    <i class="la la-money"></i>
                    <p>İndirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Slider" asp-action="Index">
                    <i class="la la-gamepad"></i>
                    <p>Öne Çıkanlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="SocialMedia" asp-action="Index">
                    <i class="la la-map-marker"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Testimonial" asp-action="Index">
                    <i class="la la-group"></i>
                    <p>Referanslar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Statistic">
                    <i class="la la-pie-chart"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Notifications">
                    <i class="la la-umbrella"></i>
                    <p>Bildirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="MenuTable">
                    <i class="la la-table"></i>
                    <p>Masalar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="MenuTableListByStatus" asp-controller="MenuTable">
                    <i class="la la-ship"></i>
                    <p>Masa Durumları</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Messages">
                    <i class="la la-wechat"></i>
                    <p>Mesaj Sayfası</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="ProgressBars" asp-action="Index">
                    <i class="la la-bar-chart"></i>
                    <p>Anlık Durum Çubuğu</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Setting" asp-action="Index">
                    <i class="la la-chain"></i>
                    <p>Ayarlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Mail" asp-action="Index">
                    <i class="la la-anchor"></i>
                    <p>Mail İşlemleri</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="QrCode" asp-action="Index">
                    <i class="la la-qrcode"></i>
                    <p>Qr Code İşlemleri</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Login" asp-action="LogOut">
                    <i class="la la-close"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Login" asp-action="LogOut">
                    <i class="la la-close"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>